.section-two {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  padding: 3em;
  animation: fromTop 1s ease-in-out;

  .left-about, .right-mission  {
    display: flex;
    justify-content: center;

    img {
      border: 2px solid black;
      max-width: 60%;
    }
  }

  .right-about, .left-mission {
    margin: auto;

    h1 {
      font-family: 'Abril Fatface';
      text-align: center;
      border: 2px solid black;
      box-shadow: 10px 10px 0px 0px black;
      width: 10em;
      margin: 0 auto;
    }

    p {
      width: 30em;
      text-align: justify;
      margin: 5em auto;
      line-height: 2em;
    }
  }
}