.logOut {
  text-align: right;
  padding-right: 5em;

  &:hover {
    cursor: pointer;
  }
}

.profile {
  padding: 3em;
  
  .header {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    padding-bottom: 2em;
    margin: auto;
    border-bottom: 2px solid black;

    .header-one {
      text-align: center;
      img {
        width: 12em;
      }
    }
    .header-two {
      text-align: left;
    }
    .header-three {
      text-align: center;

      .socials {
        margin: 2em auto 0 0;
      }

      .followers-following {
        position: absolute;
        bottom: 0;
        display: flex;
        
        .followers, .following {
          margin: 0 1em;
          background: black;
          width: 10em;
          color: white;
        }
      }
    }
  }

  .uploads {
    padding-top: 2em;
    padding-bottom: 2em;
    margin: auto;

    h2 {
      text-align: center;
    }

    .grid-uploads {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
      grid-gap: 1em;
      padding-left: 2em;
      padding-right: 2em;

      .uploads {
        img {
          width: 100%;
        }
      }
    }
  }
}